@import 'meyer-reset.css';

/* DEV STYLES */
header, main, footer {
    border: 3px solid red;
    min-height: 200px;
}
.section {
    border: 3px solid orange;
    min-height: 200px;
}

.card {
    border: 3px solid green;
    min-height: 100px;
}

/* WHOLE SITE SETTINGS */
body * {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
/* COMPONENTS */

/* MODULES */